body {
    width: auto;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-color: black;
  
  }

  .itim {
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .ibm {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 500;
    font-style: normal;
  }